<div class="app-photo" ng-controller="commentController">
  <img class="app-photo-image" ng-src="{{photo.url}}"/>
  <a ui-sref="prompt({ id: id })" class="app-photo-back">Back</a>
  <div class="app-photo-overlay-bg" ng-class="{'app-photo-overlay-hidden': hideOverlay}"></div>
  <div class="app-photo-overlay" ng-class="{'app-photo-overlay-hidden': hideOverlay}">
    <div class="app-photo-scroll" ng-click="hideOverlay = !hideOverlay"></div>
    <div class="app-photo-user">Image by: <span>{{photo.author}}<span></div>  
    <div class="app-photo-vote-box">
      <div class="app-photo-vote-up">up </div> 
      <div class="app-photo-vote-down">down</div> {{hideOverlay}}
      <div ng-class-odd="'app-comment-bubble-left'" ng-class-even="'app-comment-bubble-right'" ng-repeat="comment in comments">
        <span>{{comment.author}}:</span> {{comment.text}}
      </div>
    </div>
  </div>
</div>
