<div class="app-prompt" ng-app="promptController">
  <div class="app-header">
    <a ui-sref="prompts" class="app-header-back">
      <img src="img/next.png" />
    </a>
    <a href="#" class="app-header-sandwich">
      <img src="img/sandwich.png" />
      <div class="app-header-menu">
        <div class="app-grey-out">Sign Out </div>
      </div>
    </a>
  </div>
  <div class="app-title">Prompt</div>
  <div class="app-prompt-challenge">
    {{ prompt.title }}
  </div>
  
  <!-- Show user's photo if they have submitted one for this prompt -->
  <div ng-if="userPhotoSubmission">
    <img src="media/{{userPhotoSubmission.filename}}">
    <div>Your Submission</div>
  </div>

  <!-- show upload button IF allowed -->
  <div ng-if="userId != prompt.user.id && !userPhotoSubmission">
    <form>
      <input type="submit" ng-file-select="onFileSelect($files)" class="app-prompt-upload" value="Upload"/>
    </form>
  </div>

  <!-- <div ng-if="userId == prompt.user.id">
    <p>You're the author. You can't participate!</p>
  </div> -->
  

  <div class="app-prompt-box">Created by <span>{{ prompt.user.email }}</span></div>
  <div class="app-prompt-box">
      <span class='notice'>Prompt Closes</span>
      <span am-time-ago="prompt.endTime"></span>
    </div>
  <div class="app-prompt-box">
    <span class='notice'>Voting Ends</span>
    <span am-time-ago="prompt.votingEndTime"></span>
  </div>
  <!-- if there is a prompt.winner, display it here (photo and photo.userID) -->
  <div class="app-prompt-box">Winner: <span>{{ prompt.winner.user.email || 'No Winner'}}</span></div>
  <div class="app-prompt-box red">Photos!</div>
  <div class="app-prompt-gallery" ng-repeat="photo in prompt.photos">
    <a ui-sref="photo({ id: photo.id })"><img src="media/{{ photo.filename }}"/></a>
  </div>
</div>