<div class="app-allprompts">
  <div class="app-header">
    <a href="#" class="app-header-back">
      <img src="img/next.png" />
    </a>
    <a href="#" class="app-header-sandwich">
      <img src="img/sandwich.png" />
      <div class="app-header-menu">
        <div class="app-grey-out">Sign Out </div>
      </div>
    </a>
  </div>
  <div class="app-title">All Prompts</div>
  <div ng-repeat="prompt in prompts">
    <a ui-sref="prompt({ id: prompt.id })" class="app-prompt-box left-align hover-red paragraph" ng-class="{'last':$last}">
      <div class="app-box-text">"{{ limitChar(prompt.title,20) }}"</div>
      <div ng-if='!prompt.winner_id' class="app-box-duration">
        <span am-time-ago="prompt.votingEndTime"></span>
      </div>
      <div ng-if='prompt.winner_id' class="app-box-duration">
        <span>Winner Selected!</span>
      </div>
      <div class="app-box-arrow">
        <img src="img/next.png" />
      </div>
    </a>
  </div>
  <a ui-sref="createPrompt" class="app-button app-grey-out">Create Prompt</a>
  <br/>
<!--   <a href='#' ng-click="signOut()">Sign Out</a> -->
</div>