<!DOCTYPE html>
<meta charset="utf-8">
<head>

<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600,700,300' rel='stylesheet' type='text/css'>

<link href='css/styles.css' rel='stylesheet' type='text/css'>

</head>

<html>
<body>

  <div id="header" class="app-logo">ML<span>Photo<span></div>

  <div id="main">

    <img id="iphone" src="img/iphone.png" />

    <div id="iphone-screen">

      <div id="app-wrapper">
        <div class="app-photo">
          <img class="app-photo-image" src="img/test-photo.jpg"/>
          <div class="app-photo-overlay">
            <div class="app-photo-scroll"></div>
            <div class="app-photo-vote-box">
              <div class="app-photo-vote-up">up</div>
              <div class="app-photo-vote-down">down</div>
            </div>
            <div class="app-photo-user">Image by: <span>Loring<span></div>  
          </div>
        </div>
      </div>

    </div>

  </div>


</body>
</html>