<!DOCTYPE html>
<meta charset="utf-8">
<head>

<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600,700,300' rel='stylesheet' type='text/css'>

<link href='css/styles.css' rel='stylesheet' type='text/css'>

</head>

<html>
<body>

  <div id="header" class="app-logo">ML<span>Photo<span></div>

  <div id="main">

    <img id="iphone" src="img/iphone.png" />

    <div id="iphone-screen">

      <div id="app-wrapper">
        <div class="app-prompt">
          <div class="app-title">Prompt</div>
          <div class="app-prompt-challenge">
            "A dog that looks like it's smiling but really isn't."
          </div>
          <div class="app-prompt-creator"></div>
          <div class="app-prompt-challenge"
        </div>
      </div>

    </div>

  </div>


</body>
</html>