<?xml version='1.0' encoding='utf-8'?>
<widget id="com.silver-octopus.kbtz" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>kbitzr</name>
    <description>
        Apples to Apples for your phone.
    </description>
    <author email="jorge.silva@thejsj.com" href="http://github.com/silver-octopus/">
        Silver Octopus
    </author>
    <content src="mobile.html" />
    <access origin="*" />
</widget>
