$mobile_breakpoint: 480px;

/************ CSS RESET ************/
body, html { margin:0; padding:0; font-family: 'Raleway', sans-serif; }
a { text-decoration: none; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset, 0px 4px 0px #333 !important; }

/************ BROWSER SPECIFIC ************/
#header {
  display: none;
  @include breakpoint($mobile_breakpoint) {
    margin: 45px auto 0; width:100px; display: block;
  }
}

#main {
  @include breakpoint($mobile_breakpoint) {
    position:relative; margin:0 auto; width:400px;
  }
}
#iphone {
  width:100%; height:100%;
  display: none;
  @include breakpoint($mobile_breakpoint) {
    display: inline-block;
  }
}
#iphone-screen{
  @include breakpoint($mobile_breakpoint) {
    position:absolute; top:102px; left:78px; width:242px; height:430px; background-color:#FFF; overflow:scroll;
  }
}

/************ APP - MLPhoto ************/
#app-wrapper {
  @include breakpoint($mobile_breakpoint) {
    position:relative; width:100%; height: 100%;
  }
}

/* LOGO */
.app-logo { font-size:40px; font-weight:100; }
.app-logo span { color:#E74747; font-weight:500; }

/* HEADER */
.app-header { width:100%; height:35px; background-color:#F26964 !important; z-index:1000}
.app-header-back { float:left; margin:4px 0 0 1px; display:block; }
.app-header-back img {-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.app-header-sandwich { position:absolute; top:0; right:0; width: 100px; }
.app-header-sandwich:hover .app-header-menu { display:block; }
.app-header-sandwich img { float:right; height: 18px; margin:8px 12px 0 0;}
.app-header-sandwich .app-header-menu { float:right; margin-top:10px; background-color:#F26964; border-top:1px solid #FFF; display:none; }
.app-header-sandwich .app-header-menu div { float:left; padding:10px; width:70px; color:#FFF; text-align:center; list-style-type:none; } 

/* TITLE */
.app-title { margin:15px 0 15px 0; text-align:center; color:#E74747; font-weight:400; }

/* STANDARD BUTTON */
.app-button { position:absolute; bottom:0; left:0; width:100%; height:50px; text-align:center; background-color:#F26964; color:#FFF; line-height:50px; display:block; overflow:hidden;}

/* HOVER TYPES */
.app-grey-out { background-color:#F26964; }
.app-grey-out:hover { background-color:#333 ; -webkit-transition: background-color .5s }

/* SPINNER */
.app-spinner {}
.app-spinner div{position:absolute;width:20px;height:20px;border-radius:50%;background-color:rgba(231,71,71,0);}
.app-spinner div:nth-child(1){-webkit-animation:orbitVortex 2s linear infinite;animation:orbitVortex 2s linear infinite}
.app-spinner div:nth-child(2){-webkit-animation:orbitVortex 2s .5s linear infinite;animation:orbitVortex 2s .5s linear infinite}
.app-spinner div:nth-child(3){-webkit-animation:orbitVortex 2s 1s linear infinite;animation:orbitVortex 2s 1s linear infinite;}
.app-spinner div:nth-child(4){-webkit-animation:orbitVortex 2s 1.5s linear infinite;animation:orbitVortex 2s 1.5s linear infinite;}

@-webkit-keyframes orbitVortex {
  from {-webkit-transform: skewX(0deg) rotate(0deg) translateY(15px) rotate(0deg) scale(1.0);}
  to   {-webkit-transform: skewX(90deg) rotate(360deg) translateY(10px) rotate(-360deg) scale(0.1);background-color:rgba(231,71,71,1);}
}
@keyframes orbitVortex {
  from {
    transform: skewX(0deg) rotate(0deg) translateY(15px) rotate(0deg) scale(1.0);
      -moz-transform: skewX(0deg) rotate(0deg) translateY(15px) rotate(0deg) scale(1.0)}
  to   {
    transform: skewX(90deg) rotate(360deg) translateY(10px) rotate(-360deg) scale(0.1);background-color:rgba(242,105,100,1);
    -moz-transform: skewX(90deg) rotate(360deg) translateY(10px) rotate(-360deg) scale(0.1);background-color:rgba(242,105,100,1);}
}

/* LOADING PAGE */
.app-loading { position:absolute; top:50%; width:100%; transform: translateY(-100%); -webkit-transform: translateY(-100%);}
.app-loading .app-logo { margin-left:30px; font-size:30px; font-weight:100; text-align:center; }
.app-loading .app-logo span { color:#E74747; }
.app-loading .app-spinner { position:absolute; top: 10px; left: 35px; }

/* LOGIN PAGE */
.app-login { position:absolute; top:0; left:0; width:100%; height:100%; }
.app-login input { padding: 10px; margin: 10px auto; width: 80%; border:none; background-color:#FFF; border-radius:5px; display:block }
.app-login input[type=text], .app-login input[type=password] { box-shadow: 0px 4px 0px #333; -webkit-transition: box-shadow .5s;}
.app-login input[type=text]:focus, .app-login input[type=password]:focus{ box-shadow: 0px 4px 0px #FFF; -webkit-transition: box-shadow .5s;}
.app-login input[type=submit] { margin-top: 20px; width: 60px; height: 60px; color:#E74747; text-transform:uppercase; background-color:transparent; border-radius: 50%; border:2px solid #333; -webkit-transition: background-color .5s, color .5s;}
.app-login input[type=submit]:hover {background-color: #333; color:#FFF; -webkit-transition: background-color .5s, color .5s;}

/* PHOTO PAGE */
.app-photo { position:absolute; top:100%; left:0; width:100%; height:430px; transform: translateY(-100%); overflow:hidden;}
.app-photo .app-photo-image { position:absolute; top:0; left:0; width:242px; height: 430px; z-index:-1}
.app-photo .app-photo-overlay { position:absolute; top:0; left:0; padding:0 0 20px 0; width:100%; height:430px; background-color:#333; overflow:scroll;}
.app-photo .app-photo-overlay-bg { position:absolute; top:0; left:0; width:100%; min-height:430px; background-color:#333;opacity:0.8;}
.app-photo .app-photo-overlay-hidden { top:350px !important; overflow:hidden !important;}
.app-photo .app-photo-scroll { margin:5px auto; width:10px; height:10px; background-color:#FFF; border-radius: 50%; cursor:pointer;}
.app-photo .app-photo-scroll:hover {background-color:#F26964}
.app-photo .app-photo-vote-box { margin:10px auto; width:140px; height:30px; }
.app-photo .app-photo-choose-winner { float:left; margin:0 4px 20px 4px; width:120px; height:30px; border-radius:5px; background-color:#FFF;color:#333;text-align:center; line-height:30px; font-size:13px;cursor:pointer;-webkit-transition: box-shadow .5s;}
.app-photo .app-photo-choose-winner:hover {background-color:#F26964 ;color:#FFF; -webkit-transition: background-color .5s, color .5s;}
.app-photo .app-photo-choose-winner span {font-weight:700; }
.app-photo .app-photo-user { margin-bottom:10px; color:#FFF; text-align:center; font-size:14px; font-weight:100;}
.app-photo .app-photo-user span { font-weight:600; }
.app-photo .app-comment-bubble-left, .app-photo .app-comment-bubble-right{ position:relative; padding:10px; min-height: 18px;color:#FFF; border-radius: 5px;background-color:#F26964; font-size:14px;}
.app-photo .app-comment-bubble-left span, .app-photo .app-comment-bubble-right span{ color:#333; font-weight:600;}
.app-photo .app-comment-bubble-left { float:left; margin:20px 15px 0 15px; }
.app-photo .app-comment-bubble-right{ float:right; margin:20px 15px 0 15px; }
.app-photo .app-comment-bubble-left:after, .app-photo .app-comment-bubble-right:after {content: "";position: absolute;top: calc(50% - 8px);border-top: 8px solid transparent; border-bottom: 8px solid transparent;}
.app-photo .app-comment-bubble-left:after { right:100%; border-right:8px solid #F26964; }
.app-photo .app-comment-bubble-right:after { left:100%; border-left:8px solid #F26964; }
.app-photo .app-comment-submit {float:left; margin:15px 0 0 0; padding:15px;width:213px; height:100px;background-color:#000;}
.app-photo .app-comment-textarea {padding:15px; width:100%; height:100%; color:#333; font-size:14px;background-color:#FFF; border:none; border-radius:5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* ALL PROMPTS PAGE */
.app-allprompts { position:absolute; top:0; left: 0; width:100%; height:100%;overflow:hidden }
.app-allprompts .app-box { float:left; padding:10px 0 10px 0; margin-bottom:2px; width:100%; min-height:50px; color: #FFF; font-size:13px; font-weight:100; background-color:#333; overflow:hidden;}
.app-allprompts .app-box:hover { background-color:#666; }
.app-allprompts .app-box-text { float:left; margin:0 0 0 0px; width:calc(100% - 40px);}
.app-allprompts .app-box-time { float:left; margin:10px 0 0 10px; width:calc(100% - 40px); font-weight:600; }
.app-allprompts .app-box-arrow { float:right; margin:20px 10px 0 0; width:15px; height:15px; background-color:#FFF; border-radius:50%; }
.app-allprompts .app-box-arrow img { width:15px; display:block;}

/* PROMPT PAGE */
.app-prompt { width:100%; height:100%;
  //overflow:scroll;
}
.app-prompt .app-title { color: #E74747; }
.app-prompt .app-prompt-challenge { position: relative; padding: 42px 0 39px 0; margin: 10px 8px 0px 8px; width: calc(100% - 16px); color: #333; text-align: center; font-size: 23px;}
.app-prompt .app-prompt-challenge:before {content: "\201C"; position: absolute; top: 7px; left: -1px; width: 24px; height: 22px; font-size: 73px; color: #F26964;}
.app-prompt .app-prompt-challenge:after {content: "\201D"; position: absolute; bottom: 40px; right: 10px; width: 20px; height: 20px; font-size: 73px; color: #F26964;}
.app-prompt .app-prompt-upload { margin:0px auto; margin-bottom:30px; width: 80px; height: 80px; color:#FFF; line-height:80px; text-align:center; background-color:#F26964; border-radius: 50%; border:2px solid #F26964; display:block; -webkit-transition: background-color .5s, color .5s; font-weight: bold;text-transform: uppercase; letter-spacing: 0.12em;font-size: 13px; cursor: pointer;}
.app-prompt .app-prompt-upload:hover {background-color: #FFF; color:#F26964; border:2px solid #F26964; -webkit-transition: background-color .5s, color .5s, border .5s;}
.app-prompt .app-prompt-box { margin:0 0 0 0; width:100%; height:50px; text-align:center; line-height:50px; border-top:1px solid #F26964; /*border-bottom:1px solid #F26964;*/ color:#E74747; letter-spacing: 0.03em;
  span.notice {
    color: #F26964;
  }
}
.app-prompt .app-prompt-upload { margin-top:15px; }
.app-prompt .app-prompt-box span { font-weight:600; color:#333; }
.app-prompt .app-prompt-box.red { background-color:#F26964; color:#FFF; border-top: solid 2px #B03531;letter-spacing: 0.2em; font-weight: bold; text-transform: uppercase; }
.app-prompt .app-prompt-gallery { margin:0 0 0 0; width:100%; }
.app-prompt .app-prompt-gallery a { float:left; width:120px; height:120px; overflow:hidden;}
.app-prompt .app-prompt-gallery a img { width:120px; height:120px; }
.app-prompt .app-prompt-gallery a img:hover { opacity:0.7; }
.app-prompt .app-prompt-image-container { position: relative; width:242px; border-bottom: 4px solid #F26964; border-top: 4px solid #F26964;}
.app-prompt .app-prompt-image { width:100%; height: 100%; z-index:-1;}
.app-prompt .app-prompt-image-caption {position:absolute; bottom:5px; left:5px; padding: 2px 4px; z-index:1; background-color: white; border: 1px solid #F26964; border-radius: 3px; opacity: .75;}

.app-prompt-box { position:relative; margin:0 0 0 0; width:auto; min-height:50px; text-align:center; border-top:1px solid #F26964; /*border-bottom:1px solid #F26964;*/ color:#E74747; display:block; overflow:hidden;}
.app-prompt-box .app-box-arrow { position:absolute; top:calc(50% - 25px); right:5px; }
.app-prompt-box .app-box-text { float:left; line-height: 50px; width:calc(100% - 50px);}
.app-prompt-box .app-box-duration { float:left; line-height: 50px; width:calc(100% - 50px); }
.app-prompt-box span { font-weight:600; color:#333; }
.app-prompt-box.red { background-color:#F26964; color:#FFF; border-top: solid 2px #B03531;letter-spacing: 0.2em; font-weight: bold; text-transform: uppercase; }
.app-prompt-box.left-align { padding-left: 10px; color:#333; text-align:left;}
.app-prompt-box.hover-red { background-color:transparent; color:#333; -webkit-transition: background-color .5s, color .5s;}
.app-prompt-box.hover-red:hover { background-color:#F26964; color:#FFF; -webkit-transition: background-color .5s, color .5s;}
.app-prompt-box.hover-red:hover .app-box-duration { color:#333; -webkit-transition: color .5s;}
.app-prompt-box.paragraph { width:auto; }
.app-prompt-box.paragraph .app-box-text{ padding:15px 0 0 0; width:calc(100% - 30px); line-height:120%; }
.app-prompt-box.paragraph .app-box-duration { padding:5px 0 15px 0; width:calc(100% - 30px); line-height:120%; font-weight: 700; color:#E74747; }
.app-prompt-box.last { border-bottom:1px solid #F26964; }