.prompt-suggestions {
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
  ul {
    padding-left: 17px;
    li {
      font-size: 12px;
    }
  }
}

form {
  .form-group {
    box-sizing: border-box;
    $padding: 5px;
    $sidePadding: $padding * 2;
    padding: $padding;
    width: calc(100% - (#{$sidePadding}));
    label {
      font-size:12px;
      text-align:center;
      display: block;
    }
    input, textarea {
      font-size: 0.8em;
      margin:5px 10px;
      padding: 5px;
      width: 90%;
      font-weight: 400;
      border:none;
      background-color:#FFF;
      border-radius:5px;
      font-family: 'Raleway', sans-serif;
      // border: solid 1px #aaa;
      box-shadow: 0px 4px 0px #333;
      &[readonly] {
        background: #f7f7f7;
        color: #999;
      }
    }
  }
}