form {
  .form-group {
    box-sizing: border-box;
    $padding: 5px;
    $sidePadding: $padding * 2;
    padding: $padding;
    width: calc(100% - (#{$sidePadding}));
    label {
      font-size:12px;
      text-align:center;
      display: block;
    }
    input {
      font-size: 1em;
      margin:5px 10px;
      padding: 5px;
      width: 90%;
      font-weight:100;
      border:none; 
      background-color:#FFF; 
      border-radius:5px;
      // border: solid 1px #aaa;
      box-shadow: 0px 4px 0px #333;
      &[readonly] {
        background: #f7f7f7;
        color: #999;
      }
    }
  }
}